* {
    background-color: #ffff50;
    text-align: center;
    font-size: medium;
}

.top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top img {
    width: 600px;
    height: 450px;
}    

#home {
    background-color: aqua;
    color: black;
    border-style: solid;
}